/* give your assignment a fun background color */
body{
    background-color: yellowgreen;
}
header{
    color: deeppink;
}
ol{
    color: deeppink;
    text-align: left;
    font-size: small;
    padding: 100px;
}